[submodule "Noble Engine"]
	path = source/libraries/noble
	url = https://github.com/NobleRobot/NobleEngine.git
[submodule "source/libraries/AnimatedSprite"]
	path = source/libraries/AnimatedSprite
	url = https://github.com/Whitebrim/AnimatedSprite
